@import url("https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('../images/christmas2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Start Quiz */
h1 {
  font-size: 5.4rem;
  display: flex;
  justify-content: center;
  margin-left: 55px;
  color: #691515;
  padding: 42px;

}

#guide {
  text-align: center;
}

h2 {
  font-family: "Exo", sans-serif;
  margin: 58px;
  font-size: 35px;
  color: #691515;
  text-align: center;
}

.username {
  font-size: 45px;
  font-family: "Exo", sans-serif;
  margin: 35px;
  color: #691515;
}

.name-field {
  padding: 25px;
  font-size: 15px;
  margin-top: 35px;
  height: 45px;
  width: 250px;
  text-align: center;
  position: relative;
  background-color: #dc9cb0;
  color: black;
  border-radius: 10px;
}


li {
  font-size: 25px;
  text-align: left;
}

/* Create container */
.container {
  display: flex;
  justify-content: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5rem;

}

/* create buttons*/
#myBtn {
  background-color: #c65b7c;
  color: black;
  font-size: 28px;
  width: 20rem;
  text-align: center;
  padding: 10px;
  border: 3px solid #5c564d;
  margin: 5rem auto;
  border-radius: 10px;
}

/* quiz-container */
.quiz-container {
  height: 75vh;
  width: 80vh;
  background-color: #f9627d;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  position: relative;
  transform: translate(30rem, 20ex);
}

#quiz-heder {
  padding: 1rem;
}

/* question section */
.question-number-position {
  font-size: 30px;
  text-align: center;
  margin: 15px;
}

#question {
  color: black;
  font-family: "Exo", sans-serif;
  margin: 25px;
}

/* Favicon icon */

img {
  position: relative;
  top: -5rem;
}

/* Timer section */
.timer-header {
  width: 100px;
  height: auto;
  background-color: #e5b80b;
  border: #691515;
  border-radius: 5px;
}

#timer {
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 2px;
}

ul li {
  font-size: 1.5rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  position: relative;
  background-color: #c65b7c;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  margin: 25px;
  transform: translate(1rem, 2ex);
  border-radius: 10px;
}

button:hover {
  background-color: #dc9cb0;
  cursor: pointer;
}
#restart {
  background-color: #c65b7c;
  color: black;
  font-size: 28px;
  width: 15rem;
  text-align: center;
  padding: 10px;
  border: 3px solid #5c564d;
  margin: 5rem auto;
  border-radius: 10px;
}

#finish:hover {
  background-color: #dc9cb0;
  cursor: pointer;
}
#finish, #restart {
  background-color: #c65b7c;
  color: black;
  font-size: 28px;
  width: 15rem;
  text-align: center;
  padding: 10px;
  border: 3px solid #5c564d;
  margin: 5rem auto;
  border-radius: 10px;
}
.hide {
  display: none;
}