@import url("https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
}
body {
    background-image: url('../images/christmas2copy.webp');
    background-repeat: no-repeat;
}
h1 {
  font-size: 5.4rem;
  display: flex;
  justify-content: center;
  margin-top: 11px;
  color: #691515;
 
}

.start:hover {
  background: #dde0ab;
  color: black;
}
#guide {
  text-align: center;
  position: relative;
  top: 5rem;
  left: 5rem;
}
h2 {
  font-family: "Exo", sans-serif;
  margin: 58px;
  font-size: 35px;
  color: #691515;
  text-align: center;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
/* Create container */
.container {
  width: 100vw;
  height: 1000vh;
  display: flex;
  justify-content: center;
  max-width: 80rem;
}

/* create buttons*/
#myBtn {
  background-color: #691515;
  color: black;
  font-size: 28px;
  position: relative;
  width: 20rem;
  text-align: center;
  padding: 10px;
  border: 3px solid #5c564d;
  margin: 10px;
  border-radius: 10px;
  transform: translate(14rem,8ex);
}
/* quiz-container */
.quiz-container {
  height: 75vh;
  width: 80vh;
  background-color: #f9627d;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
 position: relative;
 transform: translate(30rem, 20ex);
}
#question {
color: black;
font-family: Roboto sans-serif;
margin: 25px;
}
#quiz-heder {
  padding: 1rem;
}
.timer-header {
  width: 100px;
  height: auto;
  background-color:  #e5b80b;
  border: #691515;
  border-radius: 5px;
}
#timer {
font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 2px;
}
ul li {
  font-size: 1.5rem;
  margin: 1rem 0;
}
ul li label {
  cursor: pointer;
}
button {
  position: relative;
  background-color: #c65b7c;
  color: black;
  display: block;
  width: 90%;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 25px;
  transform: translate(1rem,8ex);
}
button:hover {
  background-color: #dc9cb0;
}
